@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");

//GLOBAL
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547;
  --primary-text-color: #213547;
  --secondary-text-color: #b6b63c; /*#dc3d24*/
  --light-color: #fff;
  --primary-background-color: #fff;
  --secondary-background-color: #f0e8e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//HEADER
.nav {
  padding: 0 1.5rem;
  position: sticky;
  // width: 100%;
  top: 0;
  z-index: 100;
  background: var(--primary-background-color);

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0 0;
    border-bottom: 1px solid rgb(240, 234, 234);

    .propertyType {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      h1 {
        font-size: 1rem;
        font-weight: 600;
      }
    }

    a {
      text-decoration: none;

      img {
        width: 7rem;
      }
    }

    @mixin menu-styles {
      display: flex;
      flex-direction: column;

      span {
        width: 1.563rem;
        height: 0.125rem;
        background: var(--primary-text-color);
        transition: all 0.5s;
      }
    }

    .mt {
      padding: 0.5rem;

      &:focus {
        border: 1px solid var(--secondary-text-color);
        padding: 0.5rem;
        border-radius: 5px;
      }
    }

    .menu {
      @include menu-styles;
      gap: 5px;
      border: 0;

      span {
        display: block;
        border: 0;
      }
    }

    .menu-collapse {
      @include menu-styles;
      margin: 0.4rem 0 0.2rem 0;

      span {
        border-radius: 4px;

        &:first-child {
          transform: rotate(40deg);
        }

        &:nth-child(2) {
          transform: translate(0, -2px) rotate(-40deg);
        }

        &:last-child {
          opacity: 0;
        }
      }
    }
  }

  @mixin nav-list-styles {
    list-style: none;
    transition: all 0.5s;
    height: 12.813rem;

    li {
      position: relative;

      a {
        display: inline-block;
        text-decoration: none;
        color: var(--primary-text-color);
        padding: 0.2rem;
        margin: 0.5rem 0;
        font-size: 0.875rem;
        font-weight: 500;
        transition: all 0.3s;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--secondary-text-color);
          transform: scaleX(0);
          transform-origin: left;
          transition: all 0.5s;
          z-index: -1;
        }

        &:hover {
          color: var(--light-color);
        }

        &:hover::before {
          transform: scaleX(1);
        }
      }

      &:nth-child(2) {
        div {
          display: none;
        }
      }
    }
  }

  .nav-list {
    @include nav-list-styles;
    height: 12.813rem;

    li {
      transform: scaleY(1);
      transition: transform 0.3s ease-in-out 0.5s;

      &:nth-child(1) {
        transition-delay: 0.1s;
      }

      &:nth-child(2) {
        transition-delay: 0.2s;
      }

      &:nth-child(3) {
        transition-delay: 0.3s;
      }
      &:nth-child(4) {
        transition-delay: 0.3s;
      }
      &:nth-child(5) {
        transition-delay: 0.3s;
      }

      a::before {
        height: 100%;
        visibility: visible;
      }
    }
  }

  .nav-list-collapse {
    @include nav-list-styles;
    height: 0;
    overflow: hidden;

    li {
      transform: scaleY(0);
      transition: transform 0.3s ease-in-out 0.5s;

      a::before {
        visibility: hidden;
        height: 0;
      }
    }
  }
}

.header {
  .header-presentation {
    // margin-top: 4.042rem;
    section {
      position: relative;

      .skip-link {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        border: 0;
        clip: rect(0, 0, 0, 0);

        &:focus-visible {
          top: 0;
          left: 0;
          border: 1px solid #213547;
          background: #fff;
          padding: 0.5rem;
          width: auto;
          height: auto;
          margin: 0;
          clip: unset;
          text-decoration: none;
          color: #213547;
          z-index: 900;
        }
      }
      .header-image {
        width: 100%;
        height: 23.438rem;
        display: flex;
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          display: block;
          // object-fit: cover;
          flex-shrink: 0;
          flex-grow: 0;
          transition: all 1.5s;
        }

        // div {
        //   width: 100%;
        //   flex-shrink: 0;
        //   flex-grow: 0;
        //   transition: all 1.5s;
        //   img {
        //     width: 100%;
        //     height: 100%;
        //     display: block;
        //     // object-fit: cover;
        //     // flex-shrink: 0;
        //     // flex-grow: 0;
        //   }
        // }

        span {
          background: rgb(0, 0, 0, 0.1);
          display: block;
          position: absolute;
          width: 100%;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }

      .slider-btn {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);

        .circle-container {
          width: 45px;
          height: 45px;
          background-color: #1e293b;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

          .circle-button {
            background: none;
            border: none;
            margin-top: 0.4rem;
            font-size: 1.4rem;
            color: #ffffff;
            cursor: pointer;
            transition: transform 0.2s ease;

            &:hover {
              transform: scale(1.2);
            }

            &:active {
              transform: scale(1.1);
            }
          }
        }

        // button {
        //   font-size: 2rem;
        //   width: 3rem;
        //   height: 3rem;
        //   border-radius: 50%;
        //   border: 0;
        //   color: var(--secondary-background-color);
        //   background: var(--secondary-text-color);
        // }
      }

      .slider-index {
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 0.2rem;

        button {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          border: 0;
          background: var(--secondary-background-color);
        }
      }
    }

    .header-text-slider {
      position: relative;
      // height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;

      .header-text-wrapper {
        display: flex;
        transition: transform 0.5s ease-in-out;
        position: relative;
      }

      .header-text {
        min-width: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        padding: 3rem 2rem;
        pointer-events: none; // default: disable all unless active

        &.active {
          opacity: 1;
          position: relative;
          pointer-events: auto; // enable click on active only
        }

        p {
          font-weight: 700;
        }

        .desc-head {
          font-size: 1.917rem;
          margin-bottom: 1rem;
          font-weight: 700;

          span {
            color: var(--secondary-text-color);
            font-weight: bold;
          }
        }

        .buy-now-btn {
          display: inline-block;
          text-decoration: none;
          background: var(--primary-text-color);
          color: #ffffff;
          font-weight: 600;
          padding: 0.7rem 2rem;
          border-radius: 25px;
          border: none;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.2s ease;

          &:hover {
            transform: scale(1.02);
          }

          &:active {
            transform: scale(0.98);
          }
        }

        &.active {
          opacity: 1;
          position: relative;
        }
      }
    }
  }
}

//MAIN PAGE
.main {
  .search-properties {
    background: url(./assets/bg.jpg);
    padding: 2rem 1.5rem;

    h2 {
      margin-bottom: 2.5rem;
      color: var(--light-color);
      font-size: 1.8rem;
      font-weight: 300;
      font-family: Helvetica;
      text-align: center;

      &:nth-child(2) {
        display: none;
      }
    }

    .target-btn {
      display: flex;
      border-bottom: 1px solid var(--primary-text-color);
      margin-bottom: 2rem;

      button {
        width: 33.3%;
        background: 0;
        border: 0;
        color: var(--light-color);
        font-size: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid transparent;
      }

      .active {
        border-bottom: 1px solid var(--secondary-text-color);
      }
    }

    form {
      input,
      button[type="submit"] {
        display: block;
        width: 100%;
        border: 0;
        background: none;
        color: var(--light-color);
        border-radius: 5px;
        font-size: 1rem;
      }

      .input {
        margin-bottom: 0.3rem;

        input {
          border: 1px solid var(--secondary-text-color);

          padding: 0.8rem;

          &:focus {
            outline: 2px solid var(--secondary-text-color);
          }
        }

        .valid {
          border: 1px solid rgb(216, 65, 65);

          &:focus {
            outline: 2px solid rgb(216, 65, 65);
          }
        }

        p {
          color: rgb(216, 65, 65);
          font-size: 0.8rem;
          margin-top: 0.3rem;
          letter-spacing: 1.5px;
        }
      }

      button[type="submit"] {
        background: var(--secondary-text-color);
        padding: 0.6rem;
      }
    }
  }

  .services {
    margin: 2rem 1.5rem;

    h2 {
      margin-bottom: 2rem;
      font-size: 2rem;
      font-weight: 500;
      font-family: Helvetica;
    }

    .grid-container {
      display: grid;
      grid-auto-rows: minmax(14rem, auto);
      grid-gap: 1rem;

      div {
        border-radius: 15px;

        .service-item {
          background: rgb(0, 0, 0, 0.3);
          height: inherit;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          padding: 1.5rem;

          h3 {
            color: var(--light-color);
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 0.3rem;
          }

          p {
            color: var(--light-color);
            font-size: 0.8rem;
          }
        }

        &:hover {
          box-shadow: 0 25px 35px rgb(0, 0, 0, 0.1) inset;
        }
      }
    }
  }
}

//FOOTER
.footer {
  .container {
    background: url(./assets/bg.jpg);
    padding: 1.5rem 2rem;

    .row {
      display: grid;
      gap: 1.5rem;

      h4 {
        color: var(--secondary-background-color);
        border-bottom: solid 2px rgb(24, 23, 23);
        border-left: solid 2px rgb(24, 23, 23);
        padding: 0 0 0.3rem 0.3rem;
        display: inline-block;
      }

      .information {
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          padding-top: 0.5rem;

          li {
            a {
              text-decoration: none;
              color: var(--secondary-text-color);
              font-size: 0.8rem;
              transition: 0.2s;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .newsletter {
        form {
          label,
          input,
          button {
            display: block;
            margin-top: 0.4rem;
          }

          label {
            color: #beb5b5;
            font-size: 0.85em;
            margin-bottom: 0.8rem;
            line-height: 20px;
          }

          input {
            padding: 0.5rem 1rem;
            border: 0;
            border-radius: 3px;
          }

          button {
            padding: 0.3rem 0.8rem;
            border: 0;
            border-radius: 3px;
            background: var(--secondary-text-color);
            color: var(--secondary-background-color);
            margin-top: 0.7rem;
          }
        }
      }

      .follow-us {
        div {
          margin-top: 0.5rem;
          display: flex;
          flex-direction: row;
          gap: 0.5rem;

          a {
            color: var(--secondary-text-color);
            img {
              width: 2rem;
              transition: 0.3s;

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }

      .contact-us {
        div {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          margin-top: 0.5rem;
          span {
            font-size: 0.8rem;
            color: #beb5b5;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      color: #beb5b5;
      font-size: 0.8rem;
      margin: 3rem 0 0 0;
    }
  }
}

// UTILITIES
.alert {
  padding: 0.3rem 0.8rem;
  position: fixed;
  z-index: 999;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 3px;
  background: var(--secondary-text-color);
  color: var(--secondary-background-color);
}

.whatsapp {
  position: fixed;
  right: 2.5rem;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 900;

  .whatsapp-button {
    background-color: #22c55e;
  }

  .whatsapp-button:hover {
    background-color: #16a34a;
  }

  span {
    background-color: white;
    color: #000;
    padding: 0.5rem 0.6rem;
    border-radius: 7px;
    font-size: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}

.scroll-top {
  position: fixed;
  right: 2.5rem;
  background: #0f172a;
  bottom: 4.5rem;
  z-index: 900;

  &:hover {
    animation: smooth 1s ease-in-out 0.2s 1;

    @keyframes smooth {
      0% {
        transform: translateY(-5px);
      }

      50% {
        transform: translateY(7px);
      }

      100% {
        transform: translateY(0);
      }
    }
  }
}

.scroll-top,
.whatsapp-button {
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.625rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-not-found {
  display: flex;
  flex-direction: column;
  height: 60vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 7rem;

  .icon {
    font-size: 15rem;
    color: #f1efef;
  }

  p {
    line-height: 1.5rem;
    margin-top: 2rem;
  }
}

//ROUTER
.pageHeader {
  background: url(./assets/bginside.jpg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--light-color);

  h1 {
    font-size: 1.3rem;
    font-family: Helvetica;
    font-weight: 500;
  }

  span {
    font-size: 0.87rem;

    a {
      color: var(--secondary-text-color);
      text-decoration: none;
    }
  }
}

.contact {
  .form-container {
    background: url(./assets/bungalow.jpg) center / cover no-repeat;

    .background-container {
      padding: 6.25rem 1rem 3.75rem 1rem;
      color: var(--secondary-background-color);
      background: rgb(0, 0, 0, 0.5);

      h1 {
        font-size: 1.8rem;
        font-weight: 500;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #c0bdbd80;
      }

      .form-desc {
        font-size: 0.85rem;
        line-height: 20px;
        margin-bottom: 3rem;
      }

      form {
        label,
        input,
        textarea,
        button {
          display: block;
        }

        input,
        textarea {
          width: 100%;
          background: none;
          border: 1px solid var(--secondary-background-color);
          color: var(--secondary-background-color);
          margin-top: 0.3rem;
        }

        label {
          font-size: 0.7rem;
          margin-top: 1rem;
        }

        label[for="email"] {
          color: var(--secondary-text-color);
        }

        label[for="email"] input {
          border: 1px solid var(--secondary-text-color);
          cursor: pointer;
        }

        .isSending {
          border: 1px solid #cece76;
          color: #cece76;
          pointer-events: none;
          padding-right: 3rem;
        }

        button {
          color: var(--secondary-text-color);
          background: none;
          padding: 0.7rem;
          margin-top: 2.5rem;
          font-weight: bold;
          border-radius: 3px;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          border: none;
          z-index: 1;

          span {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: transparent;
            border: 1px solid var(--secondary-text-color);
            z-index: -1;

            &::before {
              content: "";
              position: absolute;
              width: 8%;
              height: 500%;
              background: url(./assets/bungalo.jpg);
              background-repeat: no-repeat;
              background-size: cover;
              top: 50%;
              left: 50%;
              transition: none;
              transform: translate(-50%, -50%) rotate(-60deg);
            }
          }

          &:hover {
            color: var(--primary-text-color);
          }

          &:hover span::before {
            width: 100%;
            background: var(--primary-background-color);
            transform: translate(-50%, -50%) rotate(60deg);
            transition: all 0.5s;
          }
        }

        input {
          padding: 0.7rem;
        }

        textarea {
          height: 7rem;
          resize: none;
          overflow: auto;
        }
      }

      .contact-info {
        margin-top: 4rem;

        h4 {
          font-size: 1.5rem;
          font-weight: 500;
          padding-bottom: 0.5rem;
          border-bottom: 1px solid #c0bdbd80;
          margin-bottom: 4rem;
        }

        .contact-item {
          margin-bottom: 1.5rem;
          p {
            font-size: 0.8rem;
            line-height: 20px;
            color: #c0bdbd;
            span {
              font-weight: 700;
            }
          }
        }
      }

      ul {
        list-style: none;
        display: flex;
        gap: 0.5rem;
        border-bottom: 1px solid #c0bdbd80;
        padding-bottom: 3rem;

        li a img {
          width: 2rem;
          transition: 0.3s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.about {
  .mission {
    background: url(./assets/about.jpg) center / cover no-repeat;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      background: var(--primary-background-color);
      padding: 1rem;
      margin: 0 3rem;
      text-align: center;

      .title {
        font-size: 0.7rem;
        font-weight: 400;
      }

      h1 {
        font-weight: 600;
        font-size: 1rem;

        span {
          color: var(--secondary-text-color);
        }
      }
    }
  }

  .body {
    margin: 2rem;

    h2 {
      font-weight: 500;
      font-size: 1.2rem;
      text-align: justify;
    }

    @mixin property-styles {
      h3 {
        font-size: 1.2rem;
      }

      p {
        line-height: 1.8rem;
        font-size: 1.1rem;
      }
    }

    .property-sale {
      margin: 3rem auto;

      img {
        display: none;
      }

      div {
        @include property-styles;

        h3 {
          padding-bottom: 0.5rem;
          border-bottom: 1px solid var(--secondary-text-color);
        }

        p {
          margin-top: 1rem;
        }
      }
    }

    .property-rental,
    .long-lease-developement,
    .joint-venture-service,
    .property-valuation,
    .property-finance,
    .real-estate-consultation,
    .three-fold-approach,
    .excellence-in-action,
    .staying-ahead,
    .trusted-partner,
    .evolving-with-landscape {
      @include property-styles;
      margin: 3rem 0;

      h3 {
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        border-left: 2px solid var(--secondary-text-color);
        display: inline-block;
      }

      p {
        margin-top: 1rem;
      }
    }

    div:nth-child(2n) {
      h3 {
        padding-right: 0.5rem;
        border-right: 2px solid var(--secondary-text-color);
        border-left: 0;
        padding-left: 0;
      }

      &:nth-child(2) {
        h3 {
          padding-right: 0;
          border-right: none;
        }
      }
    }
  }
}

.properties {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0;
    text-align: center;

    span {
      font-size: 15rem;
    }
  }
}

@mixin contentStyle {
  .ft {
    margin-bottom: 3rem;
    text-align: center;

    .line {
      border-bottom: 1px solid var(--secondary-text-color);
      width: 20%;
      margin: 0 auto;
      transform: rotate(90deg) translateX(-0.4rem);

      & + p {
        margin-top: 2.5rem;
        color: var(--secondary-text-color);
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 0.3rem;
      }
    }

    h3 {
      font-weight: 500;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

.featuredProperties {
  margin: 5rem 1.5rem;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 1.5rem;
      font-weight: 500;
      font-family: Helvetica;
    }

    a {
      text-decoration: none;
      color: var(--primary-text-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  img {
    width: 100%;
    height: 15.5rem;
    transition: 0.3s;
    transition-delay: 0.2s;
  }

  .content {
    @include contentStyle;
    cursor: pointer;

    .ft {
      .effect {
        position: relative;
        padding: 0;
        margin: 0;
        height: 15.236rem;
        overflow: hidden;
        transition: 0.3s;

        .det {
          width: 100%;
          bottom: 0;
          position: absolute;
          background-color: #2c2828;
          color: #e0dddd;
          padding: 0.7rem;
          transform: translateY(100%);
          transition: 0.3s;
          transition-delay: 0.2s;
          text-align: end;

          p {
            font-size: 0.7rem;
          }

          h3 {
            font-weight: normal;
            font-size: 0.9rem;
            padding: 0.2rem 0;
          }
        }

        &:hover .det {
          transform: translateY(0);
        }

        &:hover img,
        &:hover video {
          transform: translateY(-31.3%);
        }
      }

      .details {
        transform: scale(1);
        transition: all 0.3s 0.3s;
      }

      .effect:hover ~ .details {
        transform: scale(0);
        visibility: hidden;
        transition: all 0.3s;
      }
    }
  }
}

.expand-property-details {
  margin-bottom: 3rem;

  .back-btn {
    border: 0;
    background: none;
    margin: 2rem 1rem 1rem 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--primary-text-color);
    cursor: pointer;

    span {
      font-size: 1.5rem;
    }
  }

  h1 {
    margin: 0 1rem 2rem 1rem;
    font-size: 1.2rem;
  }

  .img-exp {
    position: relative;

    img,
    video {
      width: 100%;
      height: 17.566rem;
    }

    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 1rem;
      font-size: 1.5rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 0;
      color: var(--primary-text-color);
      background: var(--secondary-background-color);
      cursor: pointer;

      &:nth-child(2) {
        left: 0;
      }

      &:last-child {
        right: 0;
      }
    }
  }

  .img-det {
    padding: 2rem 1rem 0 1rem;
    border-radius: 15px 15px 0 0;
    transform: translateY(-0.8rem);
    background: #fff;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .bath {
      margin-top: 1rem;
      display: flex;
      gap: 2rem;

      .bt > span {
        display: block;

        &:first-child {
          color: var(--secondary-text-color);
          font-weight: 500;
        }

        &:last-child {
          font-size: 1.5rem;
        }

        abbr {
          font-size: 1rem;
          border: none;
          text-decoration: none;
          cursor: help;
        }
      }
    }
  }

  .subtitle {
    margin: 0 1rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
  }

  .adr {
    margin: 0 1rem;
    padding-top: 1rem;

    h3 {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.9rem;
      display: flex;
      gap: 0.3rem;
      align-items: center;
      line-height: 1.2rem;

      span {
        font-weight: 600;
        font-size: 1.1rem;
      }
    }
  }

  @mixin ulStyles {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;

    li {
      display: flex;
      gap: 0.2rem;
      align-items: center;

      .icon {
        color: var(--secondary-text-color);
      }
    }
  }

  .suit {
    margin: 2rem 1rem 0 1rem;

    ul {
      @include ulStyles;
    }
  }

  .grid-cont {
    padding: 2rem 1rem;
    margin: 1rem 0;

    .contact-agent {
      box-shadow: 0 4px 16px rgba(11, 17, 52, 0.2);
      padding: 1rem;
      border-radius: 8px;

      h3 {
        font-size: 1.1rem;
        font-weight: 600;
      }

      img {
        display: none;
      }

      .contact {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        text-align: center;
        margin: 1rem 0 0.5rem 0;

        a {
          width: 50%;
          padding: 0.5rem 0;
          color: var(--light-color);
          border-radius: 8px;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          cursor: pointer;

          &:first-child {
            background: #216bff;
          }
          &:last-child {
            background: #25d366;
          }
        }
      }
    }

    p {
      margin-top: 2rem;
      font-size: 1.2rem;
      font-weight: 500;
    }

    .suit {
      margin: 2rem 0 0 0;

      ul {
        @include ulStyles;
      }
    }
  }
}

.service-page {
  cursor: pointer;
  // .pageHeader {
  //   h1 {
  //     font-size: 1.2rem;
  //   }

  //   input {
  //     display: none;
  //   }

  //   span {
  //     font-size: 0.8rem;
  //   }
  // }

  img {
    width: 100%;
    height: 15.5rem;
  }

  .input {
    padding: 1rem 0;
    margin-bottom: 2rem;
    box-shadow: 0 4px 16px rgba(11, 17, 52, 0.2);

    h1 {
      display: none;
    }

    input {
      display: block;
      width: calc(100% - 2rem);
      padding: 0.7rem;
      margin: 0.2rem 1rem;
      border: none;
      border-radius: 8px;
      background-color: #f3f4f6;

      &:focus {
        outline: 2px solid var(--secondary-text-color);
        background-color: #fff;
      }
    }
  }

  .bread-drop {
    .custom-drop {
      margin: 0 0 2rem 1rem;
      font-size: 0.75rem;
      width: 220px;

      div {
        padding: 0.3rem;
      }
    }

    .property-type-breadcrumb ul {
      margin: 0 1rem;
      list-style: none;
      display: flex;
      gap: 0.5rem;
      color: #b6adad;
      font-size: 0.9rem;
      font-weight: 600;
      margin-bottom: 1rem;

      li {
        cursor: pointer;
      }

      .icon {
        color: var(--secondary-text-color);
      }
    }
  }

  .content {
    @include contentStyle;
    margin: 0 1rem 3rem 1rem;

    .ft {
      padding: 0.7rem;
      border-radius: 16px;
      box-shadow: 0 4px 16px rgba(11, 17, 52, 0.2);
      text-align: start;

      img,
      video {
        border-radius: 6px;
        margin-bottom: 1rem;
      }

      .check {
        hr,
        .img-det {
          display: none;
        }

        h3 {
          font-size: 0.8rem;
          font-weight: 600;
          // color: #da2222;
        }

        .cal {
          margin: 0.5rem 0;
        }

        .price {
          font-weight: 500;
          font-size: 1rem;
          margin-top: 0.5rem;
        }

        .title {
          font-size: 0.7rem;
        }
      }

      .pric {
        display: none;
      }
    }
  }
}

.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

//TABLET SCREENS
@media screen and (min-width: 768px) {
  .nav {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    padding: 0 2rem;
  }

  .header {
    .header-presentation {
      display: flex;
      flex-direction: row-reverse;

      section {
        width: 50%;

        .slider-index {
          bottom: 1.5rem;
        }
      }

      .header-text-slider {
        position: relative;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        .header-text-wrapper {
          display: flex;
          transition: transform 0.5s ease-in-out;
          position: relative;
        }

        .header-text {
          width: 50%;

          .desc-head {
            font-size: 2.5rem;
            font-weight: bold;
            line-height: 3.125rem;
          }
        }
      }
    }
  }

  .main {
    .search-properties {
      padding: 1.5rem 2rem;

      h2 {
        margin-bottom: 2rem;
      }

      form {
        display: flex;
        gap: 1rem;

        input,
        button[type="submit"] {
          display: inline;
          width: auto;
        }

        .input {
          width: 80%;
          input {
            width: 100%;
            border: 1px solid var(--secondary-text-color);
            margin-bottom: 0;
          }
        }

        button[type="submit"] {
          width: 20%;
          background: var(--light-color);
          color: var(--primary-text-color);
          padding: 0;
          height: 3rem;
        }
      }
    }

    .services {
      margin: 4rem 2rem;

      h2 {
        font-size: 2.5rem;
      }

      .grid-container {
        grid-template-columns: repeat(2, 1fr);

        div {
          .service-item {
            border-radius: 18px;
          }

          &:first-child {
            grid-row: 1/3;
          }

          &:nth-child(3) {
            grid-row: 2/4;
          }

          &:last-child {
            grid-column: 1/2;
          }
        }
      }
    }
  }

  .whatsapp {
    bottom: 1.5rem;
  }

  .scroll-top {
    bottom: 5rem;
  }

  .scroll-top,
  .whatsapp-button {
    font-size: 1.5rem;
    padding: 0.7rem;
    width: 3rem;
    height: 3rem;
  }

  .pageHeader {
    padding: 1.5rem 3rem;

    h1 {
      font-size: 1.8rem;
    }
  }

  .contact {
    .form-container {
      .background-container {
        padding: 6.25rem 2rem 3.75rem 3rem;

        .form-desc {
          font-size: 1rem;
        }

        form {
          div {
            display: flex;
            gap: 2rem;

            label {
              width: 50%;
            }
          }

          input,
          textarea {
            margin-top: 0.4rem;
            font-size: 0.9rem;
          }

          label {
            font-size: 0.8rem;
            margin-top: 1.3rem;
          }

          button {
            padding: 0.9rem;
          }

          textarea {
            height: 8rem;
          }
        }
      }
    }
  }

  .about {
    .mission {
      height: 50vh;

      .content {
        padding: 2rem;
        margin: 0 7rem;

        .title {
          font-size: 1rem;
        }

        h1 {
          font-size: 1.2rem;
        }
      }
    }

    .body {
      margin: 4rem;

      h2 {
        font-size: 1.3rem;
      }

      @mixin property-styles {
        h3 {
          font-size: 1.4rem;
          font-weight: 500;
        }

        p {
          font-size: 1.18rem;
        }
      }

      .property-sale {
        div {
          @include property-styles;
        }
      }

      .property-rental,
      .long-lease-developement,
      .joint-venture-service,
      .property-valuation,
      .property-finance,
      .real-estate-consultation,
      .three-fold-approach,
      .excellence-in-action,
      .staying-ahead,
      .trusted-partner,
      .evolving-with-landscape {
        @include property-styles;
      }
    }
  }

  @mixin contentStyle {
    .ft {
      margin-bottom: 4rem;

      .line {
        width: 10%;

        & + p {
          font-size: 1rem;
        }

        h3 {
          font-weight: 500;
          font-size: 1.5rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }

  .featuredProperties {
    margin: 5rem 2rem;

    .head {
      h2 {
        font-size: 2.5rem;
      }
    }

    .content {
      @include contentStyle;
    }
  }

  .expand-property-details {
    .back-btn {
      margin: 2rem 1rem 1rem 1.5rem;
      font-size: 1.3rem;

      span {
        font-size: 2rem;
      }
    }

    h1 {
      margin: 0 1rem 2rem 1.5rem;
      font-size: 1.8rem;
      font-weight: 600;
    }

    .img-exp {
      img,
      video {
        height: 25.566rem;
      }

      button {
        margin: 0 1.2rem;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
      }
    }

    .img-det {
      padding: 1rem 0 0 0;
      // transform: translateY(-0.8rem);
      display: flex;
      align-items: center;

      h2 {
        font-size: 1.8rem;
        width: 55%;
        padding: 2rem 0 1rem 1.5rem;
        border-right: 1px solid #ddd;
      }

      .bath {
        padding: 2rem 1rem 1rem 2rem;
        margin-top: 0;

        .bt span {
          &:first-child {
            font-size: 1.1rem;
          }

          &:last-child {
            font-size: 1.8rem;
          }
        }
      }
    }

    @mixin ulStyles {
      gap: 1rem;
    }

    .subtitle {
      margin: 0 1.5rem;
      font-size: 1.1rem;
    }

    .adr {
      margin: 0 1.5rem;
      padding-top: 2rem;

      h3 {
        margin-bottom: 1rem;
        font-size: 1.4rem;
      }

      p {
        font-size: 1.1rem;

        span {
          font-weight: 600;
        }
      }
    }

    // img {
    //   width: 60%;
    //   height: 33.7rem;
    // }
  }

  .service-page {
    // .pageHeader {
    //   padding: 1.5rem 4rem;

    //   h1 {
    //     font-size: 1.5rem;
    //   }

    //   // input {
    //   //   display: none;
    //   // }

    //   span {
    //     font-size: 1rem;
    //   }
    // }

    .input {
      padding: 1.3rem 0;
      margin-bottom: 2.5rem;
      box-shadow: none;

      input {
        width: calc(100% - 4rem);
        padding: 1rem;
        margin: 0.2rem 2rem;
      }
    }

    .property-type-breadcrumb ul {
      margin: 0 3rem;
      gap: 1rem;
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    .content {
      @include contentStyle;
      display: grid;
      grid-gap: 2rem;
      padding: 0 1.5rem;

      .ft {
        margin-bottom: 0;
        display: flex;
        gap: 1rem;
        padding: 1rem;

        img,
        video {
          width: 30%;
          height: 13.125rem;
          margin-bottom: 0;
        }

        .ct {
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .check {
            display: grid;
            grid-template-columns: 55% 0 45%;
            gap: 1.5rem;

            .ck {
              h3 {
                line-height: 1.2rem;
              }

              .price {
                display: none;
              }
            }

            hr {
              display: block;
              width: 1px;
              border: none;
              background-color: var(--secondary-text-color);
            }

            .img-det {
              display: block;

              .bath {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .bt {
                  display: flex;
                  flex-direction: column;
                  gap: 0.5rem;

                  span:last-child {
                    color: var(--secondary-text-color);
                  }
                }
              }
            }
          }

          .pric {
            display: block;
            font-weight: 500;
            font-size: 1.3rem;
            // margin-top: 4.5rem;
          }
        }
      }
    }
  }
}

//DESKTOP SCREENS
@media screen and (min-width: 992px) {
  .nav {
    display: flex;
    padding: 0.5rem 3rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    .logo {
      display: block;
      border-bottom: 0;
      padding: 0;

      .menu,
      .menu-collapse,
      .propertyType {
        display: none;
      }
    }

    .nav-list {
      display: flex;
      height: auto;
      justify-content: space-between;
      align-items: center;
      width: 69%;

      li {
        & > a {
          padding: 0.3rem 0.4rem;
          font-size: 1rem;
          font-weight: 600;
          border-top: 2px solid transparent;
          border-bottom: 2px solid transparent;

          &:hover {
            color: var(--primary-text-color);
          }

          @mixin pseudoStyles($position, $transformOrigin) {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--secondary-text-color);
            transform: scaleX(0);
            transition: all 0.5s;
            transform-origin: $transformOrigin;
            @if $position == "top" {
              top: 0;
            } @else if $position == "bottom" {
              bottom: 0;
            }
          }

          &::before {
            @include pseudoStyles("top", left);
          }

          &::after {
            @include pseudoStyles("bottom", right);
          }

          &:hover::before,
          &:hover::after {
            transform: scaleX(1);
          }
        }

        .active {
          border-color: var(--secondary-text-color);
        }

        &:hover .active {
          border-color: transparent;
        }

        &:last-child a {
          border-radius: 45px;
          // background: var(--secondary-text-color);
          background: var(--primary-text-color);
          color: var(--light-color);
          font-weight: 500;
          font-size: 0.875rem;
          padding: 0.5rem 1rem;

          &::before,
          &::after {
            display: none;
          }

          &:hover {
            transform: scale(1.05);
          }
        }

        &:nth-child(2) {
          position: relative;

          .property-details,
          .sale-prop {
            position: absolute;
            left: -1rem;
            background-color: var(--light-color);
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0 1rem;
            gap: 1rem;
            white-space: nowrap;
            box-shadow: 0 4px 16px rgba(11, 17, 52, 0.2);
            border-radius: 8px;
            height: 0;
            transition: 0.6s;
            // transition-delay: 0.5s;

            span {
              font-size: 0.8rem;
              color: var(--primary-text-color);
              font-weight: 500;
              transform: scaleY(0);
              transition: transform 0.2s ease-in-out 0.5s;
              transition-delay: 0s;
              cursor: pointer;

              &:hover {
                color: var(--secondary-text-color);
              }
            }
          }

          .sale-prop {
            left: 100%;
            // margin-left: 0.2rem;
            top: 0;
            height: auto;
            padding: 1rem;
          }

          &:hover .property-details {
            height: 8.5rem;
            padding: 1rem;

            span {
              transform: scaleY(1);
              transition: transform 0.3s ease-in-out 0.5s;

              &:nth-child(1) {
                transition-delay: 0.1s;
              }

              &:nth-child(2) {
                transition-delay: 0.2s;
              }

              &:nth-child(3) {
                transition-delay: 0.3s;
              }
              &:nth-child(4) {
                transition-delay: 0.3s;
              }
              &:nth-child(5) {
                transition-delay: 0.3s;
              }
            }
          }
        }
      }
    }
  }

  .header {
    .header-presentation {
      align-items: center;
      section {
        .header-image {
          height: 90vh;
          // img {
          //   object-fit: cover;
          // }
        }

        .slider-index {
          bottom: 1.5rem;
        }

        .slider-btn {
          .circle-container {
            width: 40px;
            height: 40px;

            .circle-button {
              margin-top: 0.3rem;
              font-size: 1.2rem;
            }
          }
        }
      }

      .header-text-slider {
        // position: relative;
        // height: 90vh;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // overflow: hidden;

        // .header-text-wrapper {
        //   display: flex;
        //   transition: transform 0.5s ease-in-out;
        //   position: relative;
        // }

        .header-text {
          padding: 3rem;

          .desc-head {
            // font-size: 3rem;
            font-weight: 700;
            line-height: 3.7rem;
          }

          .buy-now-btn {
            padding: 0.9rem 2.5rem;
          }
        }
      }
    }
  }

  .main {
    .search-properties {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 4rem;
      margin-top: 0.2rem;
      padding: 2rem 5rem;

      h2 {
        width: 40%;
        margin-bottom: 1.5rem;
        font-size: 1rem;
        font-weight: normal;
        text-align: start;
        line-height: 1.438rem;
        letter-spacing: 1px;

        &:nth-child(2) {
          display: inline;
        }

        &:first-child {
          display: none;
        }

        span {
          color: var(--secondary-text-color);
        }
      }

      .ticker-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60%;
      }

      .ticker-text {
        white-space: nowrap;
        animation: fadeSlide 0.5s ease-in-out;
        color: white;
        font-size: 45px;

        font-family: "EB Garamond", serif;

        text-transform: uppercase;
      }

      @keyframes fadeSlide {
        from {
          opacity: 0;
          transform: translateY(10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      form {
        display: flex;
        gap: 1rem;

        input,
        button[type="submit"] {
          display: inline;
          width: auto;
        }

        .input {
          width: 80%;
          input {
            width: 100%;
            border: 1px solid var(--light-color);

            &:focus {
              outline: 2px solid var(--light-color);
            }
          }
        }

        button[type="submit"] {
          width: 20%;
          background: none;
          border: 1px solid var(--light-color);
          padding: 0;
          height: 3rem;
          color: var(--light-color);
        }
      }
    }

    .services {
      margin: 7rem 3rem;
      .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;

        div {
          .service-item {
            border-radius: 18px;
          }

          &:first-child {
            grid-column: 1/2;
            grid-row: 1/3;
          }

          &:nth-child(2) {
            grid-column: 2/4;
            grid-row: 1/2;
          }

          &:nth-child(3) {
            grid-column: 4/5;
            grid-row: 1/3;
          }

          &:last-child {
            grid-column: 2/4;
            grid-row: 2/3;
          }
        }
      }
    }
  }

  .footer {
    .container {
      padding: 1.5rem 3rem;

      .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2.5rem;

        h4 {
          border-bottom: solid 2px rgb(17, 14, 14);
          border-left: none;
          padding: 0 0 0.5rem 0;
          display: block;
          font-weight: 400;
          font-size: 1.2rem;
        }

        .newsletter {
          form {
            margin-top: 0.5rem;

            label {
              font-size: 0.75em;
              margin-bottom: 2rem;
            }

            input {
              width: 98%;
              padding: 0.7rem;
            }

            button {
              width: 98%;
              padding: 0.7rem 1rem;
              margin-top: 1.5rem;
            }
          }
        }

        .follow-us {
          div {
            a {
              img {
                width: 2.5rem;
              }
            }
          }
        }

        .contact-us {
          div {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            margin-top: 0.5rem;

            span {
              font-size: 0.8rem;
              line-height: 0.8rem;
            }
          }
        }
      }

      .copyright {
        text-align: start;
      }
    }
  }

  .pageHeader {
    padding: 2rem;

    h1 {
      font-size: 2.5rem;
      font-weight: 500;
    }

    span {
      font-size: 0.9rem;
    }
  }

  .contact {
    .form-container {
      .background-container {
        padding: 6.25rem 6.5rem 3.75rem 6.5rem;

        .ct {
          display: flex;
          gap: 8rem;
          border-bottom: 1px solid #c0bdbd80;
          padding-bottom: 5rem;

          .form {
            width: 66.6%;
          }

          .form-desc {
            margin-bottom: 0;
            font-size: 0.9rem;
          }

          form {
            textarea {
              height: 7rem;
            }
          }

          .contact-info {
            margin-top: 0.9rem;

            h4 {
              font-size: 1.1rem;
              font-weight: 400;
              margin-top: 0.5rem;
            }

            .contact-item {
              margin-bottom: 1.5rem;

              p {
                font-size: 0.9rem;
                line-height: 1.5rem;

                span {
                  font-weight: 400;
                }
              }
            }
          }
        }

        ul {
          border: 0;
          padding-top: 2rem;

          li a img {
            width: 2.5rem;
          }
        }
      }
    }
  }

  .about {
    .mission {
      height: 80vh;

      .content {
        padding: 4rem;
        margin: 0 15rem;

        .title {
          font-size: 1rem;
        }

        h1 {
          font-size: 2.5rem;
        }
      }
    }

    .body {
      margin: 5rem;

      h2 {
        font-size: 1.2rem;
        text-align: start;
      }

      @mixin property-styles {
        h3 {
          font-size: 2rem;
          font-weight: 500;
        }

        p {
          line-height: 2rem;
          font-size: 1.2rem;
        }
      }

      .property-sale {
        display: flex;
        gap: 5rem;
        width: 90%;
        margin: 5rem auto;

        img {
          display: block;
          width: 35%;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
        }

        div {
          @include property-styles;

          h3 {
            padding-bottom: 1rem;
          }

          p {
            margin-top: 3rem;
          }
        }
      }

      .property-rental,
      .long-lease-developement,
      .joint-venture-service,
      .property-valuation,
      .property-finance,
      .real-estate-consultation,
      .three-fold-approach,
      .excellence-in-action,
      .staying-ahead,
      .trusted-partner,
      .evolving-with-landscape {
        @include property-styles;
        margin: 2rem 4rem;
      }
    }
  }

  @mixin contentStyle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .ft {
      margin-bottom: 0;

      img,
      video {
        height: 15.5rem;
      }

      .line {
        width: 20%;

        & + p {
          font-size: 0.8rem;
        }
      }
    }
  }

  .featuredProperties {
    margin: 7rem 3rem;

    .content {
      @include contentStyle;
      .ft {
        &:nth-child(2) {
          // transform: translateY(2.5rem);
        }
      }
    }
  }

  .expand-property-details {
    width: 80%;
    margin: 0 auto;

    .back-btn {
      margin: 2rem 0 1rem 0;
      font-size: 1.3rem;

      span {
        font-size: 2rem;
      }
    }

    h1 {
      margin: 0 0 2rem 0;
      font-size: 1.8rem;
      font-weight: 600;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      margin-bottom: 5rem;

      .grid-cont1 {
        grid-column: 1/3;
        .img-exp {
          img,
          video {
            height: 30.566rem;
            border-radius: 5px;
          }

          button {
            margin: 0 1.2rem;
            font-size: 2rem;
            width: 3rem;
            height: 3rem;
          }
        }

        .img-det {
          padding: 0.5rem 0;
          transform: translateY(0);
          display: flex;
          align-items: center;

          h2 {
            font-size: 1.8rem;
            width: 55%;
            padding: 2rem 0 1rem 1.5rem;
            border-right: 1px solid #ddd;
          }

          .bath {
            padding: 2rem 1rem 1rem 2rem;
            margin-top: 0;

            .bt span {
              &:first-child {
                font-size: 1.1rem;
              }

              &:last-child {
                font-size: 1.8rem;
              }
            }
          }
        }

        .adr {
          h3 {
            margin-bottom: 1rem;
            font-size: 1.4rem;
          }

          p {
            font-size: 1.1rem;

            span {
              font-weight: 600;
            }
          }
        }
      }

      .grid-cont {
        padding: 0 1rem;
        margin: 0;

        .contact-agent {
          img {
            display: block;
          }

          .contact {
            a {
              width: 90%;
              margin: 0 auto;

              &:first-child {
                display: none;
              }
              &:last-child {
                background: #25d366;
              }
            }
          }
        }

        .suit {
          box-shadow: 0 4px 16px rgba(11, 17, 52, 0.2);
          padding: 1rem;
          border-radius: 8px;
          margin-top: 2rem;

          p {
            margin-top: 0;
          }
        }
      }
    }
  }

  .service-page {
    .input {
      padding: 1.3rem 0;
      margin: 1rem 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        display: block;
        font-size: 1.8rem;
        font-weight: 500;
      }

      input {
        width: 50%;
        margin: 0.2rem 0;
      }
    }

    .bread-drop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 3rem);

      .custom-drop {
        margin: 0;
        font-size: 0.875rem;
        width: 230px;

        div {
          padding: 0.5rem;
        }
      }

      .property-type-breadcrumb ul {
        margin: 4rem 3rem 2rem 3rem;
        gap: 1rem;
        font-size: 1rem;
      }
    }

    .content {
      padding: 0 2rem;

      .ft {
        img,
        video {
          width: 40%;
        }

        .ct {
          width: 60%;
        }
      }
    }
  }
}

@media screen and (min-width: 1120px) {
  .nav .nav-list {
    width: 60%;
  }

  .service-page {
    .input {
      flex-direction: row-reverse;
      input {
        width: 30%;
      }
    }

    .content {
      grid-template-columns: repeat(2, 1fr);

      .ft {
        img,
        video {
          width: 40%;
        }

        .ct {
          width: 60%;
        }

        .check {
          .ck {
            .title {
              line-height: 1rem;
            }
          }

          hr {
            height: 6.5rem;
          }
        }
      }
    }
  }
}

.contact-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 2rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      font-weight: 500;
    }

    input,
    select,
    textarea {
      padding: 0.7rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      width: 100%;
    }

    textarea {
      min-height: 80px;
    }

    .budget-group {
      display: flex;
      gap: 1rem;

      > div {
        flex: 1;
      }
    }

    button {
      background-color: #0f172a;
      // background-color: #b6b63c;
      color: #fff;
      padding: 0.75rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 1rem;

      &:hover {
        background-color: #1e293b;
        // background-color: #bbbb58;
      }
    }
  }
}

@media (max-width: 600px) {
  .contact-container {
    padding: 1rem;
    box-shadow: none;
  }

  .budget-group {
    flex-direction: column;
  }
}
